/* O interruptor - a caixa ao redor do controle deslizante */
.switch {
    scale: 0.9;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 1.7em;
}

/* Ocultar a caixa de seleção HTML padrão */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* O controle deslizante */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--fundo-teclado);
    transition: .5s;
    border-radius: 30px;
}

.switch:hover {
    filter: brightness(105%);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 7px -3px 0px 2px var(--cor-tecla-terciaria);
    background: var(--fundo-teclado);
    transition: .5s;
}

input:checked+.slider {
    background-color: var(--fundo-teclado);
}

input:checked+.slider:before {
    transform: translateX(155%);
    box-shadow: inset 15px -4px 0px 15px var(--cor-tecla-terciaria);
}

@media screen and (min-width: 900px) {
    .switch {
        scale: 1;
    }
}